	<div class="data-panel">
	  <h3 class="subheader">{{ data-panel.header }}</h3>
	  	<div class="row">
	  		<div class="medium-6 columns">
			  <h4>{{ data-panel.subheader }}</h4>
			  <p>{{ data-panel.paragraph }}</p>
			</div>
			<div class="medium-6 columns">
				<div class="panel xl flex-align">
            	<i class="fa fa-image fa-4x"></i>
        		</div>
			</div>
		</div>
	</div>