    <div class="row footer">
      <div class="large-12 columns">
        <div class="panel mid flex-align">
            <h3> Footer </h3>
        </div>
      </div>
      <div class="small-8 columns">
      		<div>
		        Docs: <a href="http://foundation.zurb.com/docs/" target="_blank"> Foundation</a>
		        | <a href="/docs/index" target="_blank">UXP Boilerplate</a>
		        | <a href="http://docs.mixture.io/" target="_blank">Mixture.io</a>
	    	</div>
	    	<div>
	        	Links: <a href="http://foundation.joeworkman.net/learn/snippets/" target="_blank"> Some snippets</a>
	        	| <a href="https://github.com/zurb/Foundation-5-sublime-snippets" target="_blank">Sublime Snippets</a>
			</div>
      </div>
      <div class="small-4 columns">
      	<span class="right">Copyright &copy; UX Passion 2014 </span>
      </div>
    </div>