<div class="content">

	<div class="row">
    
		<div class="medium-3 columns">
        
			<div class="magellan-container" style="" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
			  
              <ul class="side-nav">
				
                <li data-magellan-arrival="virtual" class=""><a href="#virtual">Virtual Advisor</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="showcase" class=""><a href="#showcase">Product Showcase</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="surveys" class=""><a href="#surveys">Surveys & Contest</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="sales" class=""><a href="#sales">Sales Support</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="menu" class=""><a href="#menu">Interactive Menu</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="proto" class=""><a href="#proto">App Prototyping</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="book" class=""><a href="#book">Interactive Book</a></li>
				<li class="divider"></li>
				<li data-magellan-arrival="training" class=""><a href="#training">Training Tool</a></li>
			  
    		      
			  </ul>
			
    		    
			</div>						
		
    	    
		</div>
		
        <div class="medium-9 columns">
			
            <div class="row">
				
                <div class="twelve columns">
					
                    <div style="height:500px;">
						<a name="virtual"></a>
						<h2 data-magellan-destination="virtual">Virtual Advisor</h2>
					</div>

                    <!-- AND SO ON -->